.cards {
  display: flex;
  flex-wrap: wrap;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 100px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
