.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  margin-bottom: 100px;/*отступ между блоком заголовка и блоком главные проблемы в обучении*/
  display: flex; /* необходимо для позиционирования header__title в середине */
  position: relative; /* необходимо для того, чтобы элементы с абсолютным позиционированием не позиционировались от старшего родителя т.е от body */
  overflow: hidden; /*даективация переполнения от анимации квадрата*/
}
