.feynman__subtitle {
  display: block;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  position: relative;
  margin-top: 0; /*обнуление отступов h3*/
  margin-bottom: 0;
}
