.section-title_theme_dark {
  color: white; /*отступ в 20px между заголовком и подзаголовком, а также обнуление h2 есть в section-title*/
  width: 60%;
  margin-top: 90px;/*отступ между заголовком и верхней границей кауфман*/
  position: relative;
  z-index: 3; /*есть вероятность, что треугольник закроет заголовок*/
}
