.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  margin-bottom: 100px;/*отступ между блоком заголовка и блоком главные проблемы в обучении*/
  display: flex; /* необходимо для позиционирования header__title в середине */
  position: relative; /* необходимо для того, чтобы элементы с абсолютным позиционированием не позиционировались от старшего родителя т.е от body */
}

.logo {
  background-image: url("../images/logo_place_header.svg");
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  color: #000;
  display: flex;
  width: 730px;
  margin-left: 64px;
  margin-top: 0; /*обнуление нижнего и верхнего марджина для h1*/
  margin-bottom: 0;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  align-self: center;
  z-index: 3;
}

.header__subtitle {
  color: #000;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  width: 388px;
  bottom: 30px;
  left: 64px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  background-size: cover;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 0;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0px;
  top: 64px;
  z-index: 1;
}

.description {
  margin-bottom: 100px; /*отступ между блоком главные проблемы в обучении и цифры и факты*/
  display: flex; /*чтобы отцентровать two-columns вдоль оси OX*/
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex; /*чтобы добавить пробелы между столбцами*/
  justify-content: space-between;
  align-items: stretch;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0; /*обнуление отступов h2*/
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  color: #000;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px; /*чтобы между абзацами был отступ в 30px*/
  margin-top: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0; /*обнуление отступа последнего наследника класса*/
}

.two-columns__span-accent {
  color: #000;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin-bottom: 100px; /*отступ между блоком цифры и факты и метод фейнмана*/
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: #000;
  width: 60%;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 0;/*обнуление отступов h2*/
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000;
  width: 60%;
  margin-top: 0;/*обнуление отступов h3*/
  margin-bottom: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;/*обнуление отступов h2*/
  margin-top: 0;
}

.table__text {
  margin-bottom: 20px; /*p в исправлении не нуждаются*/
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #000;
}

.table__text:last-child {
  margin-bottom: 0; /*обнуление отступов у последних наследников*/
}

.feynman {
  min-height: 890px;
  position: relative;
  background-color: #f2f2f2;
  z-index: 0;
}

.feynman__title {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-top: 0;
  z-index: 2;
  position: relative; /*относительное позиционирование в блоках необходимо для использования z-индексов*/
  top: 100px;
}

.feynman__subtitle {
  display: block;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  position: relative;
  top: 70px;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
  display: block;
}

.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  padding-bottom: 90px; /*промежуток между принципы обучения и footer*/
}

.section-title_theme_dark {
  color: white; /*отступ в 20px между заголовком и подзаголовком, а также обнуление h2 есть в section-title*/
  width: 60%;
  margin-top: 90px;/*отступ между заголовком и верхней границей кауфман*/
  position: relative;
  z-index: 3; /*есть вероятность, что треугольник закроет заголовок*/
}

.section-subtitle_theme_dark {
  color: white; /*отступ в 20px между заголовком и подзаголовком, а также обнуление h3 есть в section-title*/
  width: 60%;
}

.table_theme_dark {
  display: flex;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 3;
}

.table__heading_theme_dark {
  color: white; /*h2 отступы исправлены в table__heading*/
}

.table__text_theme_dark {
  color: white;
  margin-bottom: 0; /*исправление заголовков p*/
  margin-top: 0;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  z-index: 1;
  background-size: cover;
  background-image: url("../images/kaufman-triangle.svg");

}

.footer {
  min-height: 350px;
  padding-top: 60px; /*дополнительный отступ между принципы обучения и footer как указано в брифе*/
  padding-bottom: 40px; /*отступ между footer и концом страницы*/
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_heading {
  color: white;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0; /*обнуление отступов заголовка*/
}

.footer__column_link {
  color: white;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  display: block;
  text-decoration: none;
  margin: 0;
}

.footer__column_link:last-child {
  margin-bottom: 16px; /*отступ от последнего наследника ссылок, как указано в брифинге*/
}

.menu__image {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
